/*https://coolors.co/ce9461-4c2e05-e0d8b0-f5f5f5-74546a*/
:root {
    --crayola-tan: #CE9461;
    --noir-caffe: #4C2E05; /*Cafe-noir*/
    --dutch-white: #E0D8B0;
    --cultured-white: #F5F5F5;
    --kombu-green:#496E5B;
    /*--kombu-green: #31493C;*/
}

html, body {margin: 0; height: 100%; overflow: hidden; background-color: var(--cultured-white);}

.content {
    padding: 0 1vw 0 1vw;
    font-weight: 620;
    min-height: 100vh;
    background-color: var(--cultured-white);
}

.navBar {
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    height: 7vh;
    background-color: var(--crayola-tan);
    padding: 0.3vh 2vw 0.3vh 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar-title {
    margin-left: 2vw;
    font-size: 5vh;
    font-weight: 800;
    color: var(--cultured-white);
    text-shadow: 3px 3px var(--noir-caffe);
}

.burger-menu {
    height: 100%;
}
.burger-menu:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.burger-icon {
    height: 100%;
    width: 100%;
}

.mainMenu {
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    position: absolute;
    width: 50%;
    top: 7vh;
    right: 0px;
    z-index: 100;
    display: none;
    background-color: var(--kombu-green);
    padding: 0.5vh 0.9vw 1vh 2vw;
    flex-direction: column;
}

.mainMenu-item {
    border-radius: 0.7vw;
    text-align: end;
    margin-top: 1vh;
    padding-right: 1vw;
    background-color: var(--dutch-white);
    border: var(--crayola-tan) 3px solid;
}

.mainMenu-item > a {
    color: var(--kombu-green);
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}

.mainMenu-item > a:hover {
    color: var(--noir-caffe);
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}

.pageTitle {
    padding-top: 2vh;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    background-color: var(--cultured-white);
    color: var(--noir-caffe);
}