{% extends 'baseTemplates/base.html' %}
{% load static %}
{% block head %}
    {% load static %}
    <title>{{ viewShortTitle }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'baseStatic/genericForm.css' %}">
    <script src="{% static 'expensesForm.js' %}"></script>
{% endblock head %}
{% block content %}
    {% block beforeForm %}
        <div class="pageTitle">{{viewTitle|safe}}</div>
    {% endblock beforeForm %}
    {% block formContent %}
        <form action="" method="post" class="formContainer">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <div class="fieldWrapper-label">{{ field.label_tag }}</div>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div>
                <button  type="button" onClick="deselectAll()">Deselect options</button>
            </div>
            <br>
            <input type="submit" value="{{ formSubmit|safe }}">
            <br> <br>
            {% if editing %}
                <input type="submit" value="Delete" name="deleteInstance">
            {% endif %}
        </form>
    {% endblock formContent %}
    {% block afterForm %}{% endblock afterForm %}
{% endblock content %}