{% extends 'baseTemplates/base.html' %}
{% load static %}
{% block head %}
    {% load static %}
    <title>MoneyGMA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock head %}
{% block content %}
    <div class="spacer"></div>
    {% include "components/datePager.html" %}
    <div class="spacer"></div>
    <div class="expendedMoneyBar">
        {% for category,data in moneyPerCategory.items %}
            <div class="expendedMoneyBar-category" id="{{ category }}" style="background-color:{{data.color}};width:{{data.percent}}%;"><span class="expendedMoneyBar-title">{{ category }}</span></div>
        {% endfor %}
    </div>
{% endblock content %}
