{% extends 'baseTemplates/base.html' %}
{% load static %}
{% block head %}
    {% load static %}
    <title>Money Pools</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'partiallyViewExpenses.css' %}">
{% endblock head %}
{% block content %}
    <div class="pageTitle">Money Pools</div>
    <div class="spacer"></div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Money</th>
            <th>Expenses</th>
        </tr>
        {% for pool in  pools %}
            <tr class="table-row {% cycle 'rowA' 'rowB' %}">
                <td>{{ pool.name }}</td>
                <td>{{ pool.description }}</td>
                <td>{{ pool.money }}</td>
                <td>
                    {% for expense in  pool.expenses%}
                        {{expense}} <br>
                    {% endfor %}
                </td>
                <td><a href="{% url 'editPool' pool.id %}">Edit</a></td>
            </tr>
        {% endfor %}        
    </table>
    <div class="addPoolLink">
        <a href="{% url 'addPool' %}">Create Pool!</a>
    </div>
{% endblock content %}
