{% extends 'baseTemplates/base.html' %}
{% load appTemplates %}
{% load static %}
{% block head %}
    {% load static %}
    <title>{{ viewShortTitle }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'partiallyViewExpenses.css' %}">
{% endblock head %}
{% block content %}
    <div class="viewingTitle pageTitle"> {{ viewTitle }}</div>
    <div class="spacer"></div>
    <table>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Money</th>
        </tr>
        {% for expense in  expenses %}
            <tr class="table-row {% cycle 'rowA' 'rowB' %}">
                <td>{{ expense.date | prettyDate }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.money }}</td>
                <td><a href="{% url 'editExpense' expense.id %}">Edit</a></td>
            </tr>
        {% endfor %}        
    </table>
{% endblock content %}
