{% extends 'baseTemplates/base.html' %}
{% load static %}
{% block head %}
    {% load static %}
    <title>{{ viewShortTitle }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'baseStatic/genericForm.css' %}">
{% endblock head %}
{% block content %}
    {% block beforeForm %}
        <h2>{{viewTitle}}</h2>
    {% endblock beforeForm %}
    {% block formContent %}
        <form action="" method="post" class="flex-container">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper col-4">
                    {{ field.errors }}
                    <div class="fieldWrapper-label">{{ field.label_tag }}</div>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <br>
            <input type="submit" value="{{ formSubmit }}">
        </form>
    {% endblock formContent %}
    {% block afterForm %}{% endblock afterForm %}
{% endblock content %}