<div class="navBar">
    <span class="navBar-title">MoneyGMA</span>
    <div class="burger-menu" onclick="DisplayMenu()">
        {% load static %}
        <img src="{% static 'baseStatic/menu-icon.svg' %}" alt="" class="burger-icon">
    </div>
    
    <div class="mainMenu" id="mainMenu" style="display: none;">
        <div class="mainMenu-item"><a href="#">Index</a></div>
        <div class="mainMenu-item"><a href="#">Index</a></div>
        <div class="mainMenu-item"><a href="#">Index</a></div>
    </div>
</div>
{% load static %}
<script src="{% static 'baseStatic/navBar.js' %}"></script>