.datePager {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.datePager-pager {
    border-radius: 1vh;
    background-color: var(--kombu-green);
    color: var(--cultured-white);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}